.btn {
    border-radius: 2rem;
}

.community-btn {
    transition: border ease-in-out .3s, background-color ease-in-out .3s, color ease-in-out .3s;
    padding: 12px 8px 8px 8px;
    background-color: $ii-gold;
    border-radius: 16px;
    &:hover {
        text-decoration: none;
        transition: border ease-in-out .3s, background-color ease-in-out .3s, color ease-in-out .3s;
        background-color: #000;
    }
}

.general-link {
    text-decoration: none;
    color: black;
    border-bottom: 2px solid #000;
    transition: border-bottom .3s ease-in-out;
    &:hover {
        text-decoration: none;
        color: black;
        border-bottom: 2px solid #fff;
        transition: border-bottom .3s ease-in-out;
    }
}