.banner .nav li {
  @extend .nav-item;
}

.banner .nav a {
  @extend .nav-link;
}

.nav-container {
  
  z-index: 9999;
  //background-color: #000;
  border-bottom: 4px solid #000;
  &.home-nav-container {
    border-bottom: none;
    position: absolute;
    background-color: rgba(0,0,0,.6);
    @media (max-width: 991.98px) {
      background-color: rgba(0,0,0,.6);
    }

    .fixed-top {
      background-color: rgba(0, 0, 0, 0.6);
      transition: background-color ease-in-out .3s;

      &.scroll {
        background-color: rgba(0, 0, 0, 1);
        transition: background-color ease-in-out .3s;
      }
    }
  }
}

.navbar {
  .navbar-brand {
    color: #fff;
    &:hover {
      color: #fff;
    }
  }
}


.navbar-nav {

  .nav-item {
    color: #fff;
    transition: color ease-in-out .3s;
    &:hover {
      color: rgb(168, 168, 168);
      transition: color ease-in-out .3s;
    }
    .nav-link {
      color: #fff;
      transition: color ease-in-out .3s;
      &:hover {
        color: rgb(168, 168, 168);
        transition: color ease-in-out .3s;
      }
      @media (min-width: 768px) {
        font-size: 20px;
      }
    }
  }
}
.home-navbar-nav {
  .nav-item {
    color: #fff;
    &:hover {
      color: #fff;
    }
    .nav-link {
      color: #fff;
      &:hover {
        color: #fff;
      }
    }
    .dropdown-menu {
      border-radius: 0;
      background-color: #000;
      .dropdown-item {
        color: #fff;
      }
    }
  }
  @media (max-width: 991.98px) {
    align-items: end;
  }
}

.navbar-collapse {
  justify-content: flex-end;
}

.navbar-toggler {
  border: 0;
  border-color: #000;
  .navbar-toggler-icon {
    @media (min-width: 992px) {
      background-image: url(
  "data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 0, 0, 0.8)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E")
    }
    @media (max-width: 991.98px) {
      background-image: url(
  "data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 0.8)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E")
    }
  }
}


.header-logo {
  height: 80px;
  margin-right: 16px;
}