.landing-container {
    height: 100vh;
    .row {
        height: 100%;
        .landing-col {
            height: 100%;
            display: flex;
            align-items: center;
            .landing-video {
                height: 100%;
                width: 100%;
            }
            .landing-msg {
                color: #fff;
                position: absolute;
                width: 50%;
                margin: 0 auto;
                left: 25%;
            }
        }
    }
}

.home-img-container {
    height: 100vh;
    .row {
        height:100%;
        .home-img-col {
            height: 100%;
            background-size: cover;
            background-position: 50% 50%;
            background-repeat: no-repeat;
        }
    }
}

.about-container {
    
    .about-row-1 {
        height: 64vh;
        display: flex;
        align-items: center;
        .about-col-1 {
            height: 80%;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            hr {
                border: 1px solid #000;
                width: 100%;
            }
        }
    }
    .about-row-2 {
        div .exp-title {
            font-size: 100px;
            line-height: 80px;
        }
    }
}

.exp-container {
    
    .row {
        height: 100vh;
        display: flex;
        flex-direction: row;
        align-items: center;
        .exp-num {
            align-self: flex-start;
        }
    }
}

.process-container {
    background-color: #000;
    color: #fff;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    .process-row-1 {
        border-bottom: 1px solid #fff;
    }
}