.page-landing-container {
    .page-landing-row {
        .page-landing-col {
            height: 80vh;
        }
    }
}

.page-container {
    .page-title-row {
        .page-title-col {

        }
    }
        .page-subtitle-row {
            border-bottom: 2px solid #000;
            .page-subtitle-col {
                
            }
        }
}


.tv-option-img {
    height: 200px;
    width: 200px;
    margin: 0 auto;
}

.tv-service-bg {
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}

.notary-service-bg {
    background-size: auto;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}