html {
    scroll-behavior: smooth;
  }

.container {
  max-width: 1600px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 3vw;
  padding-left: 3vw;
}

.no-padding {
  padding-left:0!important;
  padding-right:0!important;
}

a {
  color: #fff;
  text-decoration: underline;
  transition: color ease-in-out .3s;
  &.gold-link {
    color: $ii-gold!important;
  }
  &:hover {
    color: #fff;
    text-decoration: underline;
    transition: color ease-in-out .3s;
  }
}