/** Import Bootstrap functions */
//@import "~bootstrap/scss/functions";

$theme-colors: (
  primary: #525ddc
);

$ii-gold: #D3A95A;

/** Bootstrap navbar fix (https://git.io/fADqW) */
$navbar-dark-toggler-icon-bg: none;
$navbar-light-toggler-icon-bg: none;
